/* Container to hold all elements and define the overall layout */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h3 {
  flex: 0 0 10%;
  margin: 0;
}

.unassigned_officers_container {
  flex: 1 0 80%;
}

/* Buttons section */
.btns_container {
  flex: 0 0 10%; /* Takes up the remaining 10% of the height */
  display: flex;
  align-items: center;
}
