<div class="container">
    <h2>Unassign Officer for department: {{ departmentId }}</h2>
  
    <div class="assigned_officers_container">
      <app-grid
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [rowSelection]="'multiple'"
        [suppressRowClickSelection]="true"
        (selectionChanged)="handleSelectionChanged($event)"
      >
      </app-grid>
    </div>
  
    <div class="btns_container">
      <a [routerLink]="['../']" mat-raised-button><mat-icon>arrow_back</mat-icon>Back</a>
      <button mat-stroked-button [disabled]="selectedOfficers.length === 0">
        Save
      </button>
    </div>
  </div>
