<div class="main">
  <mat-toolbar class="toolbar">
    <div class="left">
      <span>PCMS - Cases</span>
      <a
        [routerLink]="['./']"
        mat-raised-button
        routerLinkActive="mat-primary"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a
        [routerLink]="['./reports']"
        mat-raised-button
        routerLinkActive="mat-primary"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>report</mat-icon>
        Reports
      </a>
      <a
        [routerLink]="['./search']"
        mat-raised-button
        routerLinkActive="mat-primary"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>search</mat-icon>
        Search
      </a>
      <a
        [routerLink]="['./my-work']"
        mat-raised-button
        routerLinkActive="mat-primary"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>assignment_ind</mat-icon>
        My Work
      </a>
    </div>

    <div class="left_mobile">
      <button
        mat-icon-button
        aria-label="Open bottom sheet"
        (click)="openBottomSheet()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>PCMS - Cases</span>
    </div>
    <span class="example-spacer"></span>

    <app-nav-profile-menu />
  </mat-toolbar>

  <div class="page_content">
    <router-outlet></router-outlet>
  </div>
</div>
