<div class="main">
  <div>
    <div class="logo"></div>
    <!-- Login form -->
    <form class="login_form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          autocomplete="username"
        />
        @if (loginForm.get("username")?.hasError("required") &&
        loginForm.get("username")?.touched) {
        <mat-error>Username is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          autocomplete="current-password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="clickShowPassword($event)"
          [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
          [attr.aria-pressed]="showPassword"
          type="button"
        >
          <mat-icon>{{
            showPassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
        @if (loginForm.get("password")?.hasError("required") &&
        loginForm.get("password")?.touched) {
        <mat-error>Password is required</mat-error>
        }
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
  </div>
</div>
