.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat_drawer {
  width: 18em;
}

.mat_drawer_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat_toolbar {
  flex: 0 0 auto;
}

.page_content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}
