@if (isLoading) {
<div class="main_loading">
  <mat-spinner></mat-spinner>
</div>
} @else {
<mat-drawer-container class="main" (backdropClick)="toggleSideNav()">
  <mat-drawer [mode]="drawerMode" [opened]="isSideNavOpen" class="mat_drawer">
    <div class="mat_drawer_side">
      @if (drawerMode == "over") {
      <div class="drawer_close_btn_container">
        <button
          mat-icon-button
          aria-label="Close drawer"
          (click)="toggleSideNav()"
          type="button"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>

      }
      <div class="drawer_btns_container">
        <a
          [routerLink]="['./']"
          mat-raised-button
          routerLinkActive="mat-primary"
          [routerLinkActiveOptions]="{ exact: true }"
          ><mat-icon>home</mat-icon>Home</a
        >
        <a
          [routerLink]="['./departments']"
          mat-raised-button
          routerLinkActive="mat-primary"
          ><mat-icon>group</mat-icon>Departments</a
        >
        <a
          [routerLink]="['./officers']"
          mat-raised-button
          routerLinkActive="mat-primary"
          ><mat-icon>local_police</mat-icon>Officers</a
        >
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="mat_drawer_content">
    <mat-toolbar class="mat_toolbar">
      <button mat-icon-button aria-label="Menu icon" (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>PCMS - System</span>

      <span class="example_spacer"></span>

      <button
        mat-icon-button
        aria-label="Notifications"
        matBadge="8"
        matBadgePosition="below"
      >
        <mat-icon>notifications</mat-icon>
      </button>
      <app-nav-profile-menu />
    </mat-toolbar>
    <div class="page_content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

}
