.basic_form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.advanced_form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.basic_form_nested_address_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.btns_container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.img_picker {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.image-preview {
  img {
    max-width: 100%;
    max-height: 300px;
    display: block;
  }
}

.advanced_warning_screen {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
