<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" dynamicHeight>
  <mat-tab label="Basic">
    <form
      class="basic_form"
      [formGroup]="basicOfficerForm"
      (ngSubmit)="onBasicFormSubmit()"
    >
      <div class="img_picker">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          Choose Face Image
        </button>
        <input
          hidden
          (change)="onFileSelected($event)"
          #fileInput
          type="file"
          accept="image/*"
        />
        @if (basicOfficerForm.get('profileImgUrl')?.hasError('required')) {
        <mat-error> Profile image is required </mat-error>
        }
      </div>

      @if (selectedImageUrl) {
      <div class="image-preview">
        <img [src]="selectedImageUrl" alt="Image Preview" />
      </div>
      }
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input required matInput formControlName="email" />
        <mat-icon matPrefix>email</mat-icon>
        @if (basicOfficerForm.get("email")?.hasError("required")) {
        <mat-error>Required</mat-error>
        } @else if (basicOfficerForm.get("email")?.hasError("email")) {
        <mat-error>Invalid email</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input required matInput type="tel" formControlName="phoneNumber" />
        <mat-hint>Don't need to add country code</mat-hint>
        <mat-icon matPrefix>call</mat-icon>
        @if (basicOfficerForm.get("phoneNumber")?.hasError("required")) {
        <mat-error>Required</mat-error>
        } @else if (basicOfficerForm.get("phoneNumber")?.hasError("maxlength"))
        {
        <mat-error>Phone number to long</mat-error>
        } @else if (basicOfficerForm.get("phoneNumber")?.hasError("hasLetters"))
        {
        <mat-error>Phone number should not contain letters</mat-error>
        }
      </mat-form-field>

      <div formGroupName="address" class="basic_form_nested_address_form">
        <mat-form-field appearance="outline">
          <mat-label>House Number</mat-label>
          <input required matInput formControlName="houseNumber" />
          @if (basicOfficerForm.get("address")?.get("houseNumber")) {
          <mat-error>Required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Street Name</mat-label>
          <input required matInput formControlName="streetName" />
          @if (basicOfficerForm.get("address")?.get("streetName")) {
          <mat-error>Required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Town</mat-label>
          <input required matInput formControlName="town" />
          @if (basicOfficerForm.get("address")?.get("town")) {
          <mat-error>Required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Postcode</mat-label>
          <input required matInput formControlName="postcode" />
          @if (basicOfficerForm.get("address")?.get("postcode")) {
          <mat-error>Required</mat-error>
          }
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Physical Description</mat-label>
        <textarea matInput formControlName="physicalDescription"></textarea>
        <mat-hint>Optional</mat-hint>
        @if (basicOfficerForm.get("physicalDescription")?.hasError("maxlength"))
        {
        <mat-error>To Long </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>General Description</mat-label>
        <textarea matInput formControlName="generalDescription"></textarea>
        <mat-hint>Optional</mat-hint>
        @if (basicOfficerForm.get("generalDescription")?.hasError("maxlength"))
        {
        <mat-error>To Long </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <input
          matInput
          formControlName="departmentId"
          [matAutocomplete]="departmentAuto"
        />
        @if (basicOfficerForm.get("departmentId")?.hasError("required")) {
        <mat-error> Required </mat-error>
        } @else if
        (basicOfficerForm.get("departmentId")?.hasError("invalidOption")) {
        <mat-error> Invalid Option </mat-error>
        }
        <mat-autocomplete
          autoActiveFirstOption
          #departmentAuto="matAutocomplete"
        >
          @for (option of filteredDepartments | async; track option) {
          <mat-option [value]="option.id">{{ option.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Access Level</mat-label>
        <mat-select formControlName="accessLevel">
          @for (option of accessLevels; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-select>
        @if (basicOfficerForm.get("accessLevel")?.hasError("required")) {
        <mat-error>Required</mat-error>
        }
      </mat-form-field>

      <span>
        {{ basicOfficerForm.value | json }}
      </span>

      <span> Valid {{ basicOfficerForm.valid | json }} </span>
      <div class="btns_container">
        <button
          mat-stroked-button
          [disabled]="basicOfficerForm.pristine || basicOfficerForm.invalid"
          type="submit"
        >
          Save
        </button>
        <button
          mat-flat-button
          [disabled]="basicOfficerForm.pristine"
          type="button"
          (click)="onBasicOfficerFormCancel()"
        >
          Cancel
        </button>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Advanced">
    @if (acknowledgedAdvancedInfoPageLock) {
    <form
      class="advanced_form"
      [formGroup]="advancedOfficerForm"
      (ngSubmit)="onAdvancedFormSubmit()"
    >
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input required matInput formControlName="firstName" />
        @if (advancedOfficerForm.get("firstName")?.hasError("required")) {
        <mat-error>Required</mat-error>
        } @else if (advancedOfficerForm.get("firstName")?.hasError("minlength"))
        {
        <mat-error>To Short</mat-error>
        } @else if (advancedOfficerForm.get("firstName")?.hasError("maxlength"))
        {
        <mat-error>To Long</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName" />
        <mat-hint>Optional</mat-hint>
        @if (advancedOfficerForm.get("middleName")?.hasError("maxlength")) {
        <mat-error>To Long</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input required matInput formControlName="lastName" />
        @if (advancedOfficerForm.get("lastName")?.hasError("required")) {
        <mat-error>Required</mat-error>
        } @else if (advancedOfficerForm.get("lastName")?.hasError("minlength"))
        {
        <mat-error>To Short</mat-error>
        } @else if (advancedOfficerForm.get("lastName")?.hasError("maxlength"))
        {
        <mat-error>To Long</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date Of Birth</mat-label>
        <input
          required
          matInput
          [matDatepicker]="dateOfBirthPicker"
          [min]="minDateOfBirth"
          [max]="maxDateOfBirth"
          formControlName="dateOfBirth"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        @if (advancedOfficerForm.get("dateOfBirth")?.hasError("required")) {
        <mat-error>Required</mat-error>
        } @else if
        (advancedOfficerForm.get("dateOfBirth")?.hasError("matDatepickerMax")) {
        <mat-error>Date of birth in the future</mat-error>
        } @else if
        (advancedOfficerForm.get("dateOfBirth")?.hasError("matDatepickerMin")) {
        <mat-error>Date of birth to long in the past</mat-error>
        }
        <mat-datepicker-toggle
          matIconPrefix
          [for]="dateOfBirthPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker
          [touchUi]="isMobile"
          #dateOfBirthPicker
        ></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          @for (gender of genders; track gender) {
          <mat-option [value]="gender">{{ gender }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Birth Place</mat-label>
        <input required matInput formControlName="birthPlace" />
        @if (advancedOfficerForm.get("birthPlace")?.hasError("required")) {
        <mat-error>Required</mat-error>
        } @else if
        (advancedOfficerForm.get("birthPlace")?.hasError("maxlength")) {
        <mat-error>To Long</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Race</mat-label>
        <input matInput formControlName="race" [matAutocomplete]="raceAuto" />
        @if (advancedOfficerForm.get("race")?.hasError("required")) {
        <mat-error> Required </mat-error>
        } @else if (advancedOfficerForm.get("race")?.hasError("invalidOption"))
        {
        <mat-error>Pick a valid option </mat-error>
        }
        <mat-autocomplete autoActiveFirstOption #raceAuto="matAutocomplete">
          @for (option of filteredRaces | async; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <span>
        {{ advancedOfficerForm.value | json }}
      </span>
      <div class="btns_container">
        <button
          mat-stroked-button
          [disabled]="
            advancedOfficerForm.pristine || advancedOfficerForm.invalid
          "
          type="submit"
        >
          Save
        </button>
        <button
          mat-flat-button
          [disabled]="advancedOfficerForm.pristine"
          type="button"
          (click)="onAdvancedFormCancel()"
        >
          Cancel
        </button>
      </div>
    </form>
    } @else {
    <div class="advanced_warning_screen">
      <h2>
        This is private and confidential data, by pressing view you acknowledged
        you understand the risk and punishments that come with sharing and or
        changing the data without good reason blah blah blah
      </h2>
      <button
        mat-raised-button
        (click)="acknowledgedAdvancedInfoPageLock = true"
      >
        <mat-icon>visibility</mat-icon>
        View
      </button>
    </div>
    }
  </mat-tab>
</mat-tab-group>
