.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  height: 100%;
}

.child {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  flex-grow: 1;
}

@media (max-width: 1670px) {
  .parent {
    grid-template-columns: 1fr;
    height: auto;
  }
  .child {
    height: 34em;
  }
}
