@if (isPageLoading) {
<div class="loading">
  <mat-spinner></mat-spinner>
</div>
} @else {

<div class="container">
  <div class="chart_1">
    <p>Case status over time</p>
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
    >
    </ngx-charts-line-chart>
  </div>
  <div class="chart_2">
    <p>Total Cases grouped by status</p>
    <ngx-charts-pie-chart
      [scheme]="CaseStatusColorScheme"
      [results]="CaseStatusResults"
      [gradient]="CaseStatusGradient"
      [legend]="CaseStatusShowLegend"
      [legendPosition]="CaseStatusLegendPosition"
      [labels]="CaseStatusShowLabels"
      [doughnut]="CaseStatusIsDoughnut"
      [legendTitle]="CaseStatusLegendTitle"
      [explodeSlices]="CaseStatusExplodeSlices"
    >
    </ngx-charts-pie-chart>
  </div>
  <div class="chart_3">3</div>
  <div class="chart_4">4</div>
  <div class="chart_5">5</div>
</div>

}
