@if (isLoading) {
<div class="main_loading">
  <mat-spinner></mat-spinner>
</div>
} @else {
<div class="main">
  <div class="grid_container">
    <div>Active cases</div>
    <div>Pending Cases</div>
    <div class="chart_container">
      <p>Cases by status</p>

      <!-- Show data for past 30 day period cases and there status -->
      <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="statusCaseResults"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        [legendTitle]="legendTitle"
        [explodeSlices]="explodeSlices"
      >
      </ngx-charts-pie-chart>
    </div>
    <div>Urgent Alerts: Display urgent alerts or high-priority cases</div>
    <div>
      Recent Activity: Show recent activities such as new case entries, updates
      to cases, and officer assignments.
    </div>
    <div>
      Latest News/Updates: Display relevant news or updates related to law
      enforcement or internal announcements.
    </div>
  </div>
</div>
}
