<div class="main">

  <mat-card appearance="outlined">
    
    <mat-card-header>
      <mat-card-title>Police Case Management System</mat-card-title>
      <mat-card-subtitle>Login Form</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="flex-align-center">
      <div class="logo">
        <img src="/logo.png" alt="Police Case Management System Logo" />
      </div>

      <form class="fields" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            formControlName="username"
            required
            aria-required="true"
            autocomplete="username"
            [errorStateMatcher]="matcher"
            autofocus
          />
          <mat-hint>Enter your username</mat-hint>
          @if (loginForm.get('username')?.hasError('required') &&
          (loginForm.get('username')?.dirty ||
          loginForm.get('username')?.touched)) {
          <mat-error>Username is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            required
            aria-required="true"
            autocomplete="current-password"
            [errorStateMatcher]="matcher"
          />
          <mat-hint>Enter your password</mat-hint>
          @if (loginForm.get('password')?.hasError('required') &&
          (loginForm.get('password')?.dirty ||
          loginForm.get('password')?.touched)) {
          <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid"
          aria-label="Log in to the Police Case Management System"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
