<div class="main">
  <div class="center">

    <h1 class="mat-title-large" tabindex="0">Police Case Management System</h1>
    
    <div class="logo">
      <img src="/logo.png" alt="Police Case Management System Logo" />
    </div>

    <form class="fields" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" required aria-required="true" autocomplete="username" formControlName="username" autofocus/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" required aria-required="true" autocomplete="current-password"  formControlName="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>

    </form>
    
  </div>
</div>
