<div class="main">
  <mat-toolbar class="toolbar">
    <span>PCMS - Settings</span>
    <span class="example-spacer"></span>
    <app-nav-profile-menu />
  </mat-toolbar>
  <div class="page_container">
    <div class="container">
      <div class="container_links">
        <a
          [routerLink]="['./']"
          routerLinkActive="mat-primary"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-raised-button
        >
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </a>
      </div>
      <div class="container_page">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
