<div class="main">
  <mat-toolbar class="toolbar">
    <span>PCMS - Cases</span>
    <span class="example-spacer"></span>

    <button
      mat-icon-button
      aria-label="Profile"
      [matMenuTriggerFor]="profileMenu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <ng-template matMenuContent>
        <a routerLink="/dashboard" mat-menu-item>
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a routerLink="/system" mat-menu-item>
          <mat-icon>settings_applications</mat-icon>
          <span>System</span>
        </a>
        <a routerLink="/settings" mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </a>
      </ng-template>
    </mat-menu>
  </mat-toolbar>

  <div class="page_content">page content</div>
</div>
