.container {
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
}

.left {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: start;
}

.quick_search_form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.right {
  padding: 0.5em;
  flex: 1;
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    height: auto;
  }
}
