.main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.case_form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 55%;
}

.btns_container {
  display: flex;
  align-items: center;
  gap: 1em;
}

@media (max-width: 950px) {
  .case_form {
    width: 75%;
  }
}