<mat-sidenav-container class="main">
  <mat-sidenav [opened]="isSideNavOpen" mode="side">
    <div class="side_arrow">
      <button
        mat-icon-button
        aria-label="Close sidenav"
        (click)="toggleSideNav()"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (!isSideNavOpen) {
    <button mat-icon-button aria-label="Open sidenav" (click)="toggleSideNav()">
      <mat-icon>chevron_right</mat-icon>
    </button>
    }
    <ng-content />
  </mat-sidenav-content>
</mat-sidenav-container>
