@use "@angular/material" as mat;

@include mat.core();

/* Remove all default margin, padding, and border */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure media elements fit their containers */
img,
video,
audio {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Ensure consistent box sizing */
* {
  box-sizing: border-box;
}
