<h3>Create a Officer</h3>

<form [formGroup]="officerForm" class="main_form_field" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input required matInput formControlName="firstName" />
    @if (officerForm.get("firstName")?.hasError("required")) {
    <mat-error>Required</mat-error>
    } @else if (officerForm.get("firstName")?.hasError("minlength")) {
    <mat-error>To Short</mat-error>
    } @else if (officerForm.get("firstName")?.hasError("maxlength")) {
    <mat-error>To Long</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Middle Name</mat-label>
    <input matInput formControlName="middleName" />
    <mat-hint>Optional</mat-hint>
    @if (officerForm.get("middleName")?.hasError("maxlength")) {
    <mat-error>To Long</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input required matInput formControlName="lastName" />
    @if (officerForm.get("lastName")?.hasError("required")) {
    <mat-error>Required</mat-error>
    } @else if (officerForm.get("lastName")?.hasError("minlength")) {
    <mat-error>To Short</mat-error>
    } @else if (officerForm.get("lastName")?.hasError("maxlength")) {
    <mat-error>To Long</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date Of Birth</mat-label>
    <input
      required
      matInput
      [matDatepicker]="dateOfBirthPicker"
      [min]="minDateOfBirth"
      [max]="maxDateOfBirth"
      formControlName="dateOfBirth"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    @if (officerForm.get("dateOfBirth")?.hasError("required")) {
    <mat-error>Required</mat-error>
    } @else if (officerForm.get("dateOfBirth")?.hasError("matDatepickerMax")) {
    <mat-error>Date of birth in the future</mat-error>
    } @else if (officerForm.get("dateOfBirth")?.hasError("matDatepickerMin")) {
    <mat-error>Date of birth to long in the past</mat-error>
    }
    <mat-datepicker-toggle
      matIconPrefix
      [for]="dateOfBirthPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker [touchUi]="isMobile" #dateOfBirthPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input required matInput formControlName="email" />
    <mat-icon matPrefix>email</mat-icon>
    @if (officerForm.get("email")?.hasError("required")) {
    <mat-error>Required</mat-error>
    } @else if (officerForm.get("email")?.hasError("email")) {
    <mat-error>Invalid email</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input required matInput type="tel" formControlName="phoneNumber" />
    <mat-hint>Don't need to add country code</mat-hint>
    <mat-icon matPrefix>call</mat-icon>
    @if (officerForm.get("phoneNumber")?.hasError("required")) {
    <mat-error>Required</mat-error>
    } @else if (officerForm.get("phoneNumber")?.hasError("maxlength")) {
    <mat-error>Phone number to long</mat-error>
    } @else if (officerForm.get("phoneNumber")?.hasError("hasLetters")) {
    <mat-error>Phone number should not contain letters</mat-error>
    }
  </mat-form-field>

  <div class="img_picker">
    <button type="button" mat-raised-button (click)="fileInput.click()">
      Choose Face Image
    </button>
    <input
      hidden
      (change)="onFileSelected($event)"
      #fileInput
      type="file"
      accept="image/*"
    />
    @if (officerForm.get('profileImgUrl')?.hasError('required')) {
    <mat-error> Profile image is required </mat-error>
    }
  </div>

  @if (selectedImageUrl) {
  <div class="image-preview">
    <img [src]="selectedImageUrl" alt="Image Preview" />
  </div>
  }

  <div formGroupName="address" class="nested_address_form">
    <mat-form-field appearance="outline">
      <mat-label>House Number</mat-label>
      <input required matInput formControlName="houseNumber" />
      @if (officerForm.get("address")?.get("houseNumber")) {
      <mat-error>Required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Street Name</mat-label>
      <input required matInput formControlName="streetName" />
      @if (officerForm.get("address")?.get("streetName")) {
      <mat-error>Required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Town</mat-label>
      <input required matInput formControlName="town" />
      @if (officerForm.get("address")?.get("town")) {
      <mat-error>Required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Postcode</mat-label>
      <input required matInput formControlName="postcode" />
      @if (officerForm.get("address")?.get("postcode")) {
      <mat-error>Required</mat-error>
      }
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      @for (gender of genders; track gender) {
      <mat-option [value]="gender">{{ gender }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Birth Place</mat-label>
    <input required matInput formControlName="birthPlace" />
    @if (officerForm.get("birthPlace")?.hasError("required")) {
    <mat-error>Required</mat-error>
    } @else if (officerForm.get("birthPlace")?.hasError("maxlength")) {
    <mat-error>To Long</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Height</mat-label>
    <input required matInput formControlName="height" />
    <mat-hint>Measured in feat</mat-hint>
    @if (officerForm.get("height")?.hasError("required")) {
    <mat-error>Required</mat-error>
    } @else if (officerForm.get("height")?.hasError("hasLetters")) {
    <mat-error>Can't have letters in height</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Race</mat-label>
    <input matInput formControlName="race" [matAutocomplete]="raceAuto" />
    @if (officerForm.get("race")?.hasError("required")) {
    <mat-error> Required </mat-error>
    } @else if (officerForm.get("race")?.hasError("invalidOption")) {
    <mat-error>Pick a valid option </mat-error>
    }
    <mat-autocomplete autoActiveFirstOption #raceAuto="matAutocomplete">
      @for (option of filteredRaces | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ethnicity</mat-label>
    <input
      matInput
      formControlName="ethnicity"
      [matAutocomplete]="ethnicityAuto"
    />
    @if (officerForm.get("ethnicity")?.hasError("required")) {
    <mat-error> Required </mat-error>
    } @else if (officerForm.get("ethnicity")?.hasError("invalidOption")) {
    <mat-error>Pick a valid option </mat-error>
    }
    <mat-autocomplete autoActiveFirstOption #ethnicityAuto="matAutocomplete">
      @for (option of filteredEthnicGroups | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nationality</mat-label>
    <input
      matInput
      formControlName="nationality"
      [matAutocomplete]="nationalityAuto"
    />
    @if (officerForm.get("nationality")?.hasError("required")) {
    <mat-error> Required </mat-error>
    } @else if (officerForm.get("nationality")?.hasError("invalidOption")) {
    <mat-error>Pick a valid option </mat-error>
    }
    <mat-autocomplete autoActiveFirstOption #nationalityAuto="matAutocomplete">
      @for (option of filteredNationalities | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  {{ officerForm.value | json }}

  <div class="btns_container">
    <button mat-stroked-button type="submit" [disabled]="officerForm.invalid">
      Create
    </button>
    <button mat-flat-button type="button" (click)="clearForm()">Clear</button>
  </div>
</form>
