<h3>Create a Officer</h3>

<form [formGroup]="officerForm" class="main_form_field" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input required matInput formControlName="firstName" />
    @if (officerForm.get("firstName")?.hasError("required")) {
    <mat-error>Required</mat-error>
    } @else if (officerForm.get("firstName")?.hasError("minlength")) {
    <mat-error>To Short</mat-error>
    } @else if (officerForm.get("firstName")?.hasError("maxlength")) {
    <mat-error>To Long</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Middle Name</mat-label>
    <input matInput formControlName="middleName" />
    <mat-hint>Optional</mat-hint>
    @if (officerForm.get("middleName")?.hasError("maxlength")) {
    <mat-error>To Long</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input required matInput formControlName="lastName" />
    @if (officerForm.get("lastName")?.hasError("required")) {
    <mat-error>Required</mat-error>
    } @else if (officerForm.get("lastName")?.hasError("minlength")) {
    <mat-error>To Short</mat-error>
    } @else if (officerForm.get("lastName")?.hasError("maxlength")) {
    <mat-error>To Long</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date Of Birth</mat-label>
    <input
      required
      matInput
      [matDatepicker]="dateOfBirthPicker"
      [min]="minDateOfBirth"
      [max]="maxDateOfBirth"
      formControlName="dateOfBirth"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    @if (officerForm.get("dateOfBirth")?.hasError("required")) {
    <mat-error>Required</mat-error>
    } @else if (officerForm.get("dateOfBirth")?.hasError("matDatepickerMax")) {
    <mat-error>Date of birth in the future</mat-error>
    } @else if (officerForm.get("dateOfBirth")?.hasError("matDatepickerMin")) {
    <mat-error>Date of birth to long in the past</mat-error>
    }
    <mat-datepicker-toggle
      matIconSuffix
      [for]="dateOfBirthPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker [touchUi]="isMobile" #dateOfBirthPicker></mat-datepicker>
  </mat-form-field>

  <div class="btns_container">
    <button mat-stroked-button type="submit" [disabled]="officerForm.invalid">
      Create
    </button>
    <button mat-flat-button type="button" (click)="clearForm()">Clear</button>
  </div>
</form>
