<div class="main">
  <mat-card appearance="raised" class="main_container">
    <mat-card-header>
      <mat-card-title>Search Cases</mat-card-title>
      <mat-card-subtitle
        >Use fields below to find a case or group of cases based on a search
        criteria
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex_left_gap">
      <form>
        <mat-form-field>
          <mat-label>Case Number</mat-label>
          <input type="text" matInput [formControl]="SearchCaseNumberInput" />
          <mat-hint>Enter case number</mat-hint>
          @if (SearchCaseNumberInput.hasError('minlength')) {
          <mat-error>Case Number to short</mat-error>
          } @if (!SearchCaseNumberInput.hasError('minlength') &&
          SearchCaseNumberInput.hasError("maxlength")) {
          <mat-error>Case Number to long</mat-error>
          } @if (!SearchCaseNumberInput.hasError('minlength') &&
          !SearchCaseNumberInput.hasError("maxlength") &&
          SearchCaseNumberInput.hasError("pattern")) {
          <mat-error>Case Number must start with CA</mat-error>
          }
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Search</button>
      <button mat-button>Clear</button>
    </mat-card-actions>
  </mat-card>
</div>
