<div class="main">
  <mat-card appearance="raised" class="main_container">
    <mat-card-header>
      <mat-card-title>Search Cases</mat-card-title>
      <mat-card-subtitle
        >Use fields below to find a case or group of cases based on a search
        criteria
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex_left_gap">
      <form>
        <mat-form-field>
          <mat-label>Case Number</mat-label>
          <input type="text" matInput [formControl]="SearchCaseNumberInput" />
          <mat-hint>Enter case number</mat-hint>
          @if (SearchCaseNumberInput.hasError('minlength')) {
          <mat-error>Case Number to short</mat-error>
          } @if (!SearchCaseNumberInput.hasError('minlength') &&
          SearchCaseNumberInput.hasError("maxlength")) {
          <mat-error>Case Number to long</mat-error>
          } @if (!SearchCaseNumberInput.hasError('minlength') &&
          !SearchCaseNumberInput.hasError("maxlength") &&
          SearchCaseNumberInput.hasError("pattern")) {
          <mat-error>Case Number must start with CA</mat-error>
          }
        </mat-form-field>
      </form>
      <h2 class="mat-title-medium">Search for cases based on filters</h2>
      <form [formGroup]="SearchCaseFiltersForm" class="flex_wrap" (ngSubmit)="onSearchCaseFilterFormSubmit()">
        <!-- Case Status -->
        <mat-form-field>
          <mat-label>Case Status</mat-label>
          <mat-select formControlName="CaseStatusSelectControl">
            @for (CaseStatusOption of CaseStatusOptions; track CaseStatusOption)
            {
            <mat-option [value]="CaseStatusOption.status">{{
              CaseStatusOption.status
            }}</mat-option>
            }
          </mat-select>
          <mat-hint>Pick a case status</mat-hint>
          @if
          (SearchCaseFiltersForm.get("CaseStatusSelectControl")?.hasError('required'))
          {
          <mat-error>Required case status</mat-error>
          }
        </mat-form-field>
        <!-- Case Status ends -->

        <!-- Case Range -->
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input
            formGroupName="CaseDateRangeControl"
            [rangePicker]="picker"
            [dateFilter]="CaseRangeDateFilter"
          >
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          @if
          (SearchCaseFiltersForm.get("CaseDateRangeControl")?.get("start")?.hasError('matDatepickerFilter'))
          {
          <mat-error>Invalid date ranges</mat-error>
          } @else if
          (SearchCaseFiltersForm.get("CaseDateRangeControl")?.get("start")?.hasError('required'))
          {
          <mat-error>Required start date</mat-error>
          } @else if
          (SearchCaseFiltersForm.get("CaseDateRangeControl")?.get("end")?.hasError('required'))
          {
          <mat-error>Required end date</mat-error>
          }
        </mat-form-field>
        <!-- Case Range end -->
        <!-- Case CasePriority -->
        <mat-form-field>
          <mat-label>Case Priority</mat-label>
          <mat-select formControlName="CasePrioritySelectControl">
            @for (CasePriorityOption of CasePriorityOptions; track
            CasePriorityOption) {
            <mat-option [value]="CasePriorityOption.level">{{
              CasePriorityOption.level
            }}</mat-option>
            }
          </mat-select>
          <mat-hint>Pick a case Priority</mat-hint>
          @if
          (SearchCaseFiltersForm.get("CasePrioritySelectControl")?.hasError("required"))
          {
          <mat-error>Required Case Priority</mat-error>
          }
        </mat-form-field>
        <!-- Case CasePriority ends-->

        <!-- Incident Type -->
        <mat-form-field>
          <mat-label>Incident Type</mat-label>
          <input
            type="text"
            aria-label="Incident Type"
            matInput
            formControlName="IncidentTypeAutoCompleteControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (IncidentTypeFilteredOption of IncidentTypeFilteredOptions |
            async; track IncidentTypeFilteredOption) {
            <mat-option [value]="IncidentTypeFilteredOption.type">{{
              IncidentTypeFilteredOption.type
            }}</mat-option>
            }
          </mat-autocomplete>
          <mat-hint>Pick a Incident Type</mat-hint>
          @if
          (SearchCaseFiltersForm.get("IncidentTypeAutoCompleteControl")?.hasError("required"))
          {
          <mat-error>Required Incident Type</mat-error>
          }
        </mat-form-field>
        <!-- Incident Type ends-->

        <!-- City location -->
        <mat-form-field>
          <mat-label>City</mat-label>
          <input
            type="text"
            aria-label="City Location"
            matInput
            formControlName="CityAutoCompleteControl"
            [matAutocomplete]="autoTwo"
          />
          <mat-autocomplete autoActiveFirstOption #autoTwo="matAutocomplete">
            @for (option of CityFilteredOptions | async; track option) {
            <mat-option [value]="option.city">{{ option.city }}</mat-option>
            }
          </mat-autocomplete>
          <mat-hint>Pick a City</mat-hint>
          @if
          (SearchCaseFiltersForm.get("CityAutoCompleteControl")?.hasError("required"))
          {
          <mat-error>Required City</mat-error>
          }
        </mat-form-field>
        <!-- City location ends-->
      </form>
      {{ SearchCaseFiltersForm.value | json }}
      <br />
      Status {{ SearchCaseFiltersForm.status }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Search</button>
      <button mat-button (click)="ClearForm()">Clear</button>
    </mat-card-actions>
  </mat-card>
</div>
