<div class="main">
  <div class="section-one">
    <div class="active_cases_container">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Active cases: 44</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>View</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="closed_cases_container">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Closed cases: 12</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>View</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="pending_cases_container">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Pending cases: 12</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>View</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="recent_activity_container">
      <mat-card appearance="outlined" class="recent_activity">
        <mat-card-header>
          <mat-card-title>Recent Activity</mat-card-title>
        </mat-card-header>
        <mat-card-content class="recent_activity_overflow">
          lorem1000
        </mat-card-content>
      </mat-card>
    </div>
    <div class="open_cases_container">
      <mat-card appearance="outlined" class="open_cases">
        <mat-card-header>
          <mat-card-title>Open Cases</mat-card-title>
        </mat-card-header>
        <mat-card-content class="open_cases_overflow">lorem1000</mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="section-two">
    <div class="chart_1" #ChartOneContainerRef>
      <ngx-charts-pie-chart
        [view]="CaseStatusView"
        (window:resize)="
          onCaseStatusResize(
            ChartOneContainerRef.offsetWidth,
            ChartOneContainerRef.offsetHeight
          )
        "
        [scheme]="CaseStatusColorScheme"
        [results]="CaseStatusResults"
        [legend]="true"
        [legendTitle]="CaseStatusLegendTitle"
        [labels]="true"
        [doughnut]="true"
      >
      </ngx-charts-pie-chart>
    </div>
    <div class="chart_2" #ChartTwoContainerRef>
      <ngx-charts-gauge
        [view]="view"
        (window:resize)="
          onGaugeResize(
            ChartTwoContainerRef.offsetWidth,
            ChartTwoContainerRef.offsetHeight
          )
        "
        [results]="results"
        [legend]="true"
      >
      </ngx-charts-gauge>
    </div>
  </div>
</div>
