.main {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  background-image: url("/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 18em;
  height: 18em;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.wrapper span {
  font-size: 5em;
  font-weight: bold;
  color: #e74c3c;
}

.wrapper p {
  font-size: 1.2em;
  color: #777;
}
